a:hover {
  color: red;
}
body {
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 80%;
}
header {
  position: relative;
}
#sitehome {
  position: absolute;
  left: 0;
  top: 0;
}
#hextile {
  position: absolute;
  right: 0;
  top: 0;
}
header h1, header h2 {
  margin: 2px 0px 2px 140px; /* top right bottom left */
  font-weight: normal;
}
header h1 a, header h2 a {
  text-decoration: none;
}
header h2 {
  font-size: 170%;
}
header nav {
  margin: 10px 0px;
}
h1 {
  color:#800000;
  margin-bottom: 0;
  font-size: 180%;
  font-weight: normal;
}
h2 {
  color:#800000;
  font-size: 120%;
  font-weight: bold;
  }
h3 {
  color:#800000;
  font-size: 100%;
  font-weight: bold;
  margin: 10px 0px 5px;
}
hr.short {
  background-color: #f00;
  height: 5px;
  width: 600px;
  height: 3px;
  border: 0;
}
hr.long {
  border: 1px solid #CC9966;
}
table {
  border-collapse: collapse;
}
td, th, tr {
  margin: 0;
  padding: 0 2px;
  border-collapse: collapse;
  vertical-align: top;
  text-align: left;
}
thead th {
  background-color: #CCFFCC;
  font-weight: bold;
  /*text-align: center;*/
}
tbody th {
  font-weight: bold;
  white-space: nowrap;
}
td p {
  margin: 0;
}
.train {
  text-align: center;
  font-style: italic;
}
td.phase, th.phase {
  text-align: center;
  font-weight: bold;
}
.lookuptable td, .lookuptable tbody th {
  border: 1px solid #CCFFCC;
}
#gamelist tbody th {
  white-space: normal;
}
#startcash {
  padding: 2;
}
.notsupported {
  text-align: center;
}
.notrecommended {
  background-color: #FED6B2; /* orange */
  text-align: center;
}
.recommended {
  background-color: #F9FFC0; /* yellow */
  text-align: center;
}
.best {
  background-color: #CCFFCC; /* green */
  text-align: center;
}
.available_train_details th {
  font-weight: normal;
  background-color: #CCFFCC; /* green */
}
.squashed {}
dl.definitions {
  display: grid;
  grid-template-columns: 150px auto;
}
.definitions dt {
  width: 150px;
  font-weight: bold;
  grid-column-start: 1;
}
.definitions dd {
  grid-column-start: 2;
  margin-left: 5px;
}
.nowrap {
  white-space: nowrap;
}
.games {
  display: inline;
  font-weight: bold;
}
.rule {
  display: inline;
  margin-left: 10px;
}
.games span.visible ~ span.visible:before {
  /* prepend a ", " before if a span is preceded by another span */
  content: ", ";
}
.legendkey {
  color:#800000;
}
footer p {
  text-align: center;
}
footer nav {
  position: relative;
}
footer nav #contact {
  position: absolute;
  left: 0;
  margin: 10px;
}
footer nav #copyright {
  position: absolute;
  right: 0;
  margin: 10px;
}
.invisible {
  display: none;
}
